	<div class="content-wrapper bg-white">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h2 class="text-center mt-2 mb-4">Nome do evento</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card mt-2 mb-4 bg-white">
						<div class="card-header">
							<span class="h4">					
								<i class="fa fa-calendar"></i>
								Informações do evento
							</span>
							<a href="/eventos-master/admin/atualizar-evento" class="btn btn-warning btn-sm float-right text-white">Editar</a>
						</div>
						<div class="card-body px-4 py-4">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="data">Data: </label>
									<input type="date" name="data" id="data" class="form-control" placeholder="11/11/1111" data-js="input" readonly>
								</div>
								<div class="form-group col-md-6">
									<label for="hora">Hora: </label>
									<input type="time" name="hora" id="hora" class="form-control" placeholder="11:11" data-js="input" readonly>
								</div>
							</div>
							<div class="form-group">
								<label for="endereco" readonly>Endereço: </label>
								<select name="endereco" id="endereco" class="form-control" data-js="input" readonly>
									<option value="endereco">Endereço 1</option>
									<option value="endereco">Endereço 2</option>
									<option value="endereco">Endereço 3</option>
									<option value="endereco">Endereço 4</option>
									<option value="endereco">Endereço 5</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card mb-4 bbg-white">
						<div class="card-header">
							<span class="h4">
								<i class="fa fa-w fa-file"></i>
								Informações do certificado
							</span>
							<a href="/eventos-master/admin/atualizar-certificado" class="btn btn-warning btn-sm float-right text-white">Editar</a>
						</div>
						<div class="card-body px-4 py-4">
							<div class="form-row">
								<div class="form-group col-sm-6">
									<label for="inicio_certificado">Incio: </label>
									<input type="text" name="inicio_certificado" id="inicio_certificado" class="form-control" value="Certificamos que" data-js="input" readonly>
								</div>
								<div class="form-group col-sm-6">
									<label>Nome do participante</label>
									<input type="text" class="form-control" value="Fulano de Tal" readonly>
								</div>
							</div>
							<div class="form-group">
								<label for="corpo-certificado">Corpo do certificado: </label>
								<textarea name="corpo-certificado" id="corpo-certificado" class="form-control" placeholder="Corpo do certificado" data-js="input" readonly>Participou do nosso evento.</textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card mt-4 mb-4">
						<div class="card-header">
							<span class="h4"><i class="fa fa-users"></i> Participantes cadastrados nesse evento</span>
							<a href="/eventos-master/admin/liberar-certificado" class="btn btn-warning btn-sm float-right text-white">Liberar certificado</a>
						</div>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<li class="list-group-item list-group-item-action">
									Participante 1
									<a href="/eventos-master/admin/participante" class="btn btn-primary btn-sm float-right">Visualizar</a>
								</li>
								<li class="list-group-item list-group-item-action">
									Participante 2
									<a href="/eventos-master/admin/participante" class="btn btn-primary btn-sm float-right">Visualizar</a>
								</li>
								<li class="list-group-item list-group-item-action">
									Participante 3
									<a href="/eventos-master/admin/participante" class="btn btn-primary btn-sm float-right">Visualizar</a>
								</li>
								<li class="list-group-item list-group-item-action">
									Participante 4
									<a href="/eventos-master/admin/participante" class="btn btn-primary btn-sm float-right">Visualizar</a>
								</li>
								<li class="list-group-item list-group-item-action">
									Participante 5
									<a href="/eventos-master/admin/participante" class="btn btn-primary btn-sm float-right">Visualizar</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>