	<div class="content-wrapper bg-white">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h2 class="text-center mt-2 mb-4">
						Lista de Eventos
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<span class="h4">
								<i class="fa fa-location-arrow"></i>
								Estes são os seus eventos e os que você tem acesso
							</span>
						</div>
						<div class="card-body bg-white">
							<ul class="list-group list-group-flush">
								<li class="list-group-item list-group-item-action">
									Evento 1
									<div class="float-right">
										<a href="/eventos-master/admin/evento" class="btn btn-primary btn-sm">Visualizar</a>
										<a href="#" class="btn btn-danger btn-sm">Excluir</a>
									</div>
								</li>
								<li class="list-group-item list-group-item-action">
									Evento 2
									<div class="float-right">
										<a href="/eventos-master/admin/evento" class="btn btn-primary btn-sm">Visualizar</a>
										<a href="#" class="btn btn-danger btn-sm">Excluir</a>
									</div>
								</li>
								<li class="list-group-item list-group-item-action">
									Evento 3
									<div class="float-right">
										<a href="/eventos-master/admin/evento" class="btn btn-primary btn-sm">Visualizar</a>
										<a href="#" class="btn btn-danger btn-sm">Excluir</a>
									</div>
								</li>
								<li class="list-group-item list-group-item-action">
									Evento 4
									<div class="float-right">
										<a href="/eventos-master/admin/evento" class="btn btn-primary btn-sm">Visualizar</a>
										<a href="#" class="btn btn-danger btn-sm">Excluir</a>
									</div>
								</li>
								<li class="list-group-item list-group-item-action">
									Evento 5
									<div class="float-right">
										<a href="/eventos-master/admin/evento" class="btn btn-primary btn-sm">Visualizar</a>
										<a href="#" class="btn btn-danger btn-sm">Excluir</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>