	<div class="content-wrapper bg-white">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h2 class="text-center mt-2 mb-4">
						Lista de endereços
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<span class="h4">
								<i class="fa fa-location-arrow"></i>
								Estes são os endereços já cadastrados
							</span>
						</div>
						<div class="card-body bg-white">
							<ul class="list-group list-group-flush">
								<li href="endereco.html" class="list-group-item list-group-item-action">
									Endereço 1
									<div class="float-right">
										<a href="/eventos-master/admin/endereco" class="btn btn-primary btn-sm">Visualizar</a>
										<a href="#" class="btn btn-danger btn-sm">Excluir</a>
									</div>
								</li>
								<li href="endereco.html" class="list-group-item list-group-item-action">
									Endereço 2
									<div class="float-right">
										<a href="/eventos-master/admin/endereco" class="btn btn-primary btn-sm">Visualizar</a>
										<a href="#" class="btn btn-danger btn-sm">Excluir</a>
									</div>
								</li>
								<li href="endereco.html" class="list-group-item list-group-item-action">
									Endereço 3
									<div class="float-right">
										<a href="/eventos-master/admin/endereco" class="btn btn-primary btn-sm">Visualizar</a>
										<a href="#" class="btn btn-danger btn-sm">Excluir</a>
									</div>
								</li>
								<li href="endereco.html" class="list-group-item list-group-item-action">
									Endereço 4
									<div class="float-right">
										<a href="/eventos-master/admin/endereco" class="btn btn-primary btn-sm">Visualizar</a>
										<a href="#" class="btn btn-danger btn-sm">Excluir</a>
									</div>
								</li>
								<li href="endereco.html" class="list-group-item list-group-item-action">
									Endereço 5
									<div class="float-right">
										<a href="/eventos-master/admin/endereco" class="btn btn-primary btn-sm">Visualizar</a>
										<a href="#" class="btn btn-danger btn-sm">Excluir</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>