	<div class="content-wrapper bg-white">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h2 class="text-center mt-2 mb-4">Nome do Participante</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card mt-2 mb-4 bg-white">
						<div class="card-header">
							<h4>
								<i class="fa fa-user"></i> 
								Informações sobre o participante
							</h4>
						</div>
						<div class="card-body px-4 py-4">
							
						</div>
					</div>
				</div>
			</div>
		</div>